<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperCut Renderer</title>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <video id="video-bg" muted preload="auto"></video>
    <div id="subtitle-container"></div>

    <!-- Data injected by Electron -->
    <script src="data.js"></script>
    <script src="script.js"></script>
</body>
</html>
